{% extends 'base.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock title %}

{% block content %}
<div class="recipes">
    {% for recipe in recipes %}
       <div class="recipe">
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 100px; max-height: 100px;">
    <h3>{{ recipe.title }}</h3>
    <p>{{ recipe.description }}</p>
    <div class="recipe-buttons">
        <a href="{% url 'recipe_detail' recipe.pk %}" class="detail-button">Подробнее</a>
        <a href="{% url 'edit_recipe' recipe.pk %}" class="edit-button {% if user.is_authenticated and user == recipe.author or user.is_staff %}visible{% else %}hidden{% endif %}">Редактировать</a>
    </div>
</div>
    {% endfor %}
</div>

{% if recipes.has_other_pages %}
    <div class="pagination-container">
        <div class="pagination">
            <span class="step-links">
                {% if recipes.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ recipes.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ recipes.number }} из {{ recipes.paginator.num_pages }}.
                </span>

                {% if recipes.has_next %}
                    <a href="?page={{ recipes.next_page_number }}">следующая</a>
                    <a href="?page={{ recipes.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endif %}
{% endblock content %}
